﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.errors {
    color: red;
    font-weight: bold;
    /*font-family: Arial;
    font-size: 12px;*/
}

.log-out {
    padding-right: 25px;
    padding-top: 15px;
}

    .log-out span {
        color: #000000;
        padding-right:5px;
    }
