﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li style="min-width:300px"><label class="navbar-brand">User Roles Redirection</label></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right log-out">

                <li><a href="/Account/logOut"><span>Log out</span><img src="~/Content/img/log_out.png" /> </a>
            </ul>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="padding-top:100px">&copy; @DateTime.Now.Year - User roles redirection</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
